*{
    margin: 0;
    padding: 0;
}
.loader{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid yellow;
    border-top:20px solid #cae0ca;
    animation: my 2s ease-in 0s infinite normal;
}
@keyframes my{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}