*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.mainbox{

    display: grid;
   justify-items: center;
   align-items: center;
    position: fixed;
    height: 400px;
    width:400px;
    border: 2px solid ;
    margin-left: 50px;
    margin-top: 40px;
    background-color: rgb(153, 230, 230);
   
}
.box1{
    position: absolute;

background-color:bisque ;
height: 200px;
width: 200px;
}
.box2{
 
background-color: bisque;
position: absolute;
height: 300px;
width: 70px;

}
.box3{
   
background-color: bisque;
position: absolute;
height: 70px;
width: 300px;

}
