
*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
color: white;
}
#navbar {
    top: 0;
    position: sticky;
    background-color: black;
    height: 60px;
}
#logo{
    font-size: 25px;
    color: rgb(234, 144, 18);
}
a{
    text-decoration: none;
    margin-right: 200px;
}
button{
    background-color: rgb(234, 144, 18);
}
.content-div{

    height: 100px;
    border: 1px solid black;
    color: black;
    width: 100px;
    display: inline-block;
}
.c1{    background-color: pink; 
    opacity: 0.5;}
.c2{    background-color: rgb(192, 243, 255);
opacity: 0.5;}
.c3{    background-color: pink;
opacity: 0.5;}
footer{
    background-color: black;
    height: 40px;
    text-align: center;
}
#content{
    height: 639px;
}